/* custom CSS rules */
/* display none for layout but be careful of license restrictions */
.mapbox-logo, .leaflet-control-attribution {
  display: none;
}

.transparent {
  opacity:0
}

.txt-h1 {
    font-size: 35px;
    line-height: 54px;
}

h1 {
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: bold;
}

h2 {
  font-family: "Playfair Display";
  /* font-weight: bold; */
  font-size: 1em;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 0.8em;
}

select {
  font-family: "Poppins", sans-serif;
  /* font-style: oblique; */
  font-size: 0.6em;
}

ul {
  list-style-position: inside;
  text-indent: -0.5em;
  font-size: 0.8em;
  /* text-align: left; */
}

li {
  list-style-position: inside;
  font-size: 0.8em;
  text-indent: -1.5em;
  /* text-align: left; */
}

ui-h1 {
  font-family: "Playfair Display";
  font-weight: lighter;
  font-size: 1.5em;
  background:#fff;
  /* opacity: 1; */
  color:#000;
  display: grid;
  padding:3px 15px 15px;
  /* margin-left:10px; */
  border-radius:5px;

}

.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 50%; /* possible because the placeholder's parent is the map */
    transform: translateY(-50%); /* using the CSS3 Transform technique */
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}
