/* custom CSS rules */
/* display none for layout but be careful of license restrictions */
.mapbox-logo, .leaflet-control-attribution {
  display: none;
}

.txt-h1 {
    font-size: 35px;
    line-height: 54px;
}

h1 {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
