/* custom CSS rules */
/* display none for layout but be careful of license restrictions */
.mapbox-logo, .leaflet-control-attribution {
  display: none;
}

.transparent {
  opacity:0
}

/* .txt-h1 {
    font-size: 35px;
    line-height: 54px;
} */

h1 {
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: bold;
}

h2 {
  font-family: "Playfair Display";
  /* font-weight: bold; */
  font-size: 1em;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 0.8em;
}

select {
  font-family: "Poppins", sans-serif;
  /* font-style: oblique; */
  font-size: 0.8em;
}

ul {
  list-style-position: inside;
  text-indent: -0.5em;
  font-size: 0.8em;
  /* text-align: left; */
}

li {
  list-style-position: inside;
  font-size: 0.8em;
  text-indent: -1.5em;
  /* text-align: left; */
}

ui-h1 {
  font-family: "Playfair Display";
  font-weight: lighter;
  font-size: 1.3em;
  background:#fff;
  /* opacity: 1; */
  color:#000;
  display: grid;
  padding:3px 15px 15px;
  /* margin-left:10px; */
  border-radius:5px;

}

body {
    /* margin-top: 65x; */
}

.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 50%; /* possible because the placeholder's parent is the map */
    transform: translateY(-50%); /* using the CSS3 Transform technique */
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

#legend {
  font-family: "Playfair Display";
  padding: 6px 8px;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 150px;
}

#legend h5 {
  font-size: 1em;
}

#legend span {
  font-family: "Poppins";
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 4px 0;
}

#legend label {
  font-size: 1em;
  font-family: "Poppins";
}

#legend label:after {
  content: '';
  display: block;
  clear: both;
}
